<div id="<%= dom_id database %>">
  <p>
    <strong>First name:</strong>
    <%= database.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= database.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= database.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= database.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= database.twitter %>
  </p>

</div>
